# IntelliJ / PhpStorm project directory.
.DS_Store
.idea
*.swp
.gdb_history
pod2htmd.tmp
tests/*.php
tests/*.diff
tests/*.exp
tests/*.out
tests/*.log
tests/*.sh
tests/*.swp
sweph/src/*.o
sweph/src/libswe.a
sweph/src/swetest
modules
sweph*.la
sweph*.lo
Mak*
.libs/
build/
ac*
auto*
libtool
missing
mk*
run-test*
!.github/workflows/run-tests.yml
!config.m4
config*
install-sh
ltmain.sh
fixtest
utility/PHP-Parser-4.12.0
utility/gen_stub.php
