# IntelliJ / PhpStorm project directory.
.DS_Store
.idea
*.swp
pod2htmd.tmp
tests/*.php
tests/*.diff
tests/*.exp
tests/*.out
tests/*.log
tests/*.sh
tests/*.swp
sweph/src/*.o
sweph/src/libswe.a
modules
sweph*.la
sweph*.lo
Mak*
.libs/
build/
ac*
auto*
libtool
missing
mk*
run-test*
!config.m4
config*
install-sh
ltmain.sh

